<!-- Imja: templates/index.html -->
{% extends 'base.html' %}

{% block content %}
    </br></br>
    <div class="col-6 offset-3">
        <div class="row" style="border:none; background:rgb(255, 255, 255);">
            <div class="col-6 justify-content-md-center" >
                <br>
                <div id="wrapper">
                    <button type="button" class="btn btn-success disabled" disabled>Encode Image</button>
                </div>
            </div>
            <div class="col-6 justify-content-md-center">
                <br>
                <div id="wrapper">
                    <form action="/imja">
                        <button type="Submit" class="btn btn-outline-info">Decode Message</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" style="border:none; background:rgb(255,255,255);">
            <div class="content">
                <br>
                <input type="file" id="imgLoader" name="image" accept=".png" class="form-control-file" aria-describedby="fileHelp">
                <input class="form-control form-control-sm" id="password_imput" type="text" name="password" placeholder="create password">
                <!-- <textarea class="form-control" type="text" rows="3" name="message" spellcheck="false" placeholder="secret message"></textarea> -->
                <input type="text" id="txtImgSize" readonly="readonly">
                <canvas id="textCanvas" width='500' height='500'></canvas>
                <button type="button" id="butn" value="Canvas to URI" class="btn btn-primary btn-lg">Encode Image URI</button>                
                <button type="button" id="saveButn" value="Blob to File" class="btn btn-primary btn-lg">Save to File</button>                
            </div>
        </div>
        <div class="row" style="border:none; background:rgb(255,255,255);">  
            <p class="text-danger" id="txtInfo">{{ msg }}</p>
            <!-- <div class="image-container ml-auto">
                <img src="{{ uri }}">
            </div> -->
        </div>
    </div>
    <script>
        var canvas = new fabric.Canvas('textCanvas');

        window.scaleFactor = 1;
        window.image ='';
        window.password = '';
        // bool not needed currently until componets to display image are resolved
        window.showImg = true;

        var rect = new fabric.Rect({
            left:0,
            top:0,
            fill:'black',
            width:canvas.width,
            height:canvas.height,
            opacity:0.0,
            selectable:false
        });
        canvas.add(rect);

        var textbox = new fabric.Textbox('Secret Message', {
            left: 5,
            top: 5,
            //width: canvas.width,
            fontSize: 20, 
        });
        canvas.add(textbox)
        textbox.set({fill: '#FFF'})
        
        // Doesn't scale image properly. Also, text box needs to be set to white
        var img_imja = new Image();
            img_imja.src = '/Imja.png';
            img_imja.onload = function () {
                const scaleFactor = canvas.width/img_imja.width;
                var imja = new fabric.Image(img_imja, {
                    scaleX: scaleFactor,
                    scaleY: scaleFactor,
                    top: 120
                })
                canvas.add(imja);
            }
        
        // https://stackoverflow.com/questions/21715812/how-to-upload-an-image-to-a-canvas-with-fabric-js
        document.getElementById('imgLoader').onchange = function handleImage(e) {
        var reader = new FileReader();
            reader.onload = function (event){
                //Cannot find object 'imja'
                //console.log(canvas.getObjects()[2]);
                if (window.showImg == true){
                    window.showImg = false;
                    canvas.remove(canvas.getObjects()[2]);
                    rect.set({opacity: 0.7})
                }
                //console.log(canvas.getObjects());
                var imgObj = new Image();
                imgObj.src = event.target.result;
                window.image = event.target.result;
                imgObj.onload = function () {
                    var image = new fabric.Image(imgObj);
                    document.getElementById('txtImgSize').value='Size: '+image.width+' x '+image.height;
                    if (image.width > image.height){
                        window.scaleFactor = canvas.width/image.width;
                        rect.set({width: canvas.width});
                        rect.set({height: image.height * window.scaleFactor});
                    } else {
                        window.scaleFactor = canvas.height/image.height;
                        rect.set({height: canvas.height});
                        rect.set({width: image.width * window.scaleFactor});
                    }
                    //make our textbox smaller then the rect
                    //textbox.set({width: rect.width-10});
                // canvas.centerObject(image);
                canvas.renderAll().setActiveObject(textbox);
                //canvas.renderAll();
                }   
            }
            reader.readAsDataURL(e.target.files[0]);
        }

        document.querySelector('#butn').onclick = function(){
            //convert background to black
            rect.set({opacity:1});
            canvas.renderAll();
            const canvasURI = canvas.toDataURL({
                format: 'png',
                left: rect.left,
                top: rect.top,
                width: rect.width,
                height: rect.height,
                multiplier: 1/window.scaleFactor
            });
            //convert background back to opaque
            rect.set({opacity:0.7});
            canvas.renderAll();
            //https://flask.programmingpedia.net/en/knowledge-base/17171459/flask--render-a-page-after-jquery-ajax---post-call
            $.post( '/encodeJS', {
                image_data: JSON.stringify(window.image),
                password_data: JSON.stringify(document.getElementById('password_imput').value),
                message_data: JSON.stringify(canvasURI)
                }, function(response){
                    window.open(response);
                    //https://stackoverflow.com/questions/31444211/fabric-js-load-image-from-data-uri-coming-from-another-url
                    // var img = new Image();
                    // img.src = response;
                    // img.onload = function () {
                    //     document.getElementById('txtImgSize').value='Image Encoded';
                    //     if (img.width > img.height){
                    //         const scaleFactor = canvas.width/img.width;
                    //     } else {
                    //         const scaleFactor = canvas.height/img.height;
                    //     }
                    //     var imgbase64 = new fabric.Image(img, {
                    //         scaleX: scaleFactor,
                    //         scaleY: scaleFactor
                    //     })
                    //     canvas.remove(textbox);
                    //     canvas.remove(rect);
                    //     canvas.add(imgbase64);
                    //     canvas.renderAll();
                    // }
                }
            )
        };

        document.querySelector('#saveButn').onclick = function(){
            //this will allow the user to view the image, but it will be scaled to the canvas size... 
            window.open(canvas.toDataURL('png'));
            // alert('clicked save')
            // document.href = canvas.toDataURL({
            //     format: 'png'
            // });
            // document.download = 'canvas.png'
        };

    </script>
{% endblock %}