<!-- Imja: templates/index.html -->
{% extends 'base.html' %}

{% block content %}
    </br></br>
    <div class="jumbotron">
        <p class="lead">
            <form action="/imja" method="POST" enctype="multipart/form-data">
                <input type ="radio" name="codetype" value="Encode">Encode new message<br>
                <input type ="radio" name="codetype" value="Decode">Decode secret message<br>
                <input type ="text" name="password" value="password"><br>
                <input type ="text" name="message" value="secret message"><br>
                <input type ="file" name="image" accept=".png">
                <button type = "Submit">Save Settings</button>
            </form>
        </p>
    </div>
{% endblock %}